* {
	display: inline;
}

html {
	display: block;
	font-size: 16px;
	font-family: "Times New Roman";
	line-height: 1.2;
}

head, link, style, meta, title, script {
	display: none;
}

body {
	display: block;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}

div, p, pre, h1, h2, h3, h4, h5, h6 {
	display: block;
}

br {
	display: line-break;
}

pre {
	white-space: pre;
}
